body{
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    text-align: center;
    background: rgb(184, 181, 181);
}

h4{
    text-align: justify;
    text-decoration-line: underline;
}

p{
    text-align: justify;
}

ul{
    text-align: justify;
}

ol{
    text-align: justify;
}